* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
}

.button-like {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  margin: 50px;
  text-decoration: none;
  border-radius: 19px;
  border: 2px solid #f00;
  width: 136px;
  height: 38px;
}

i {
  color: #f00;
  font-size: 18px;
}

h2 {
  color: #f00;
  font-size: 18px;
}

.button-like:hover {
  background-color: #f00;
  color: #fff;
  transition: background-color 1s ease;
}
.button-like:hover i,
.button-like:hover h2 {
  color: #fff;
}
